
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Thông Báo Kết Quả</title>
    <link rel="icon" href="~/images/icon/fav_icon.png">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets1/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/assets1/css/site.min.css">
    <link rel="stylesheet" href="~/assets1/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/assets1/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/assets1/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/assets1/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/assets1/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/assets1/vendor/flag-icon-css/flag-icon.css">
    <!-- Plugin -->
    <link rel="stylesheet" href="~/assets1/vendor/chartist-js/chartist.css">
    <link rel="stylesheet" href="~/assets1/vendor/jvectormap/jquery-jvectormap.css">
    <!-- Page
    <! Fonts -->
    <link rel="stylesheet" href="~/assets1/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/assets1/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="~/assets1/fonts/font-awesome/font-awesome.css">
    <link href="~css/preloader.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="../~/assets1/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="../~/assets1/vendor/media-match/media.match.min.js"></script>
      <script src="../~/assets1/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/assets1/vendor/modernizr/modernizr.js"></script>
    <script src="~/assets1/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
    <style type="text/css">
        #test-vid {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 100%;
        }

        .test-wid {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
            z-index: 1000;
            padding-top: 100pt;
            background-color: rgba(0,0,0,0.5);
        }
    </style>
</head>
<body class="page-locked layout-full">
    <div id="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <div class="background-wrap">
        <video id="test-vid" preload="auto" autoplay="true" loop="loop" muted="muted">
            <source src="~/assets1/Video Edit.mp4">
        </video>
    </div>
    <!-- Page -->
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out">

        <div class="page-content vertical-align-middle">
            <form action="~/User/reDirect">
                <div class="widget widget-shadow widget-responsive" id="widgetLineareaColor">
                    <div class="widget-content widget-radius bg-white">
                        <div class="padding-top-30 padding-30" style="height:calc(100% - 250px);">
                            <div class="row">
                                <div class="panel-heading" align="center">
                                    <h3 class="panel-title">Một Số Thông Tin Gợi Ý Cho Bạn!</h3>
                                </div>
                                <!-- Username -->
                                <div>
                                    <div class="col-md-12">
                                        <div class="panel">
                                            <div class="form-group">
                                                <li class="list-group-item">
                                                    <div class="media">
                                                        <p class="pull-left">Bạn Là Người Thứ @ViewBag.soLan Đoán Số Này!</p>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Username -->
                                <!-- Mail -->
                                <div>


                                    <div class="col-md-12">
                                        <div class="panel">
                                            <div class="form-group">
                                                <li class="list-group-item">
                                                    <div class="media">
                                                        <p class="pull-left">Có  @ViewBag.soLanItNhat  Người Đang Đoán Số Có Ít Người Đoán Nhất!</p>

                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mail -->
                                    <!-- SĐT -->
                                    <div>

                                        <!-- End SĐT -->
                                        <!-- Password -->
                                        <div>
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="form-group">
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <p class="pull-left">Còn @ViewBag.soConLai Số Chưa Có Người Đoán!</p>


                                                            </div>
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Password -->
                                        <!-- Ho Ten -->
                                        <div>
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="form-group">
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <p class="pull-left">Giải Thưởng Hôm Nay Là @ViewBag.tienThuong vnđ!</p>


                                                            </div>
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Ho Ten -->
                                        <!-- Gender -->
                                        <!-- End Gender -->
                                        <!-- End Panel Profile -->
                                    </div>
                                    <button type="submit" class="btn btn-primary">Đồng Ý</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Page -->
    <!-- End Page -->
    <script src="~/assets1/vendor/jquery/jquery.js"></script>
    <script src="~/assets1/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/assets1/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/assets1/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/assets1/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/assets1/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/assets1/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <!-- Plugins -->
    <script src="~/assets1/vendor/switchery/switchery.min.js"></script>
    <script src="~/assets1/vendor/intro-js/intro.js"></script>
    <script src="~/assets1/vendor/screenfull/screenfull.js"></script>
    <script src="~/assets1/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/assets1/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <!-- Scripts -->
    <script src="~/assets1/js/core.js"></script>
    <script src="~/assets1/js/site.js"></script>
    <script src="~/assets1/js/sections/menu.js"></script>
    <script src="~/assets1/js/sections/menubar.js"></script>
    <script src="~/assets1/js/sections/sidebar.js"></script>
    <script src="~/assets1/js/configs/config-colors.js"></script>
    <script src="~/assets1/js/configs/config-tour.js"></script>
    <script src="~/assets1/js/components/asscrollable.js"></script>
    <script src="~/assets1/js/components/animsition.js"></script>
    <script src="~/assets1/js/components/slidepanel.js"></script>
    <script src="~/assets1/js/components/switchery.js"></script>
    <script src="~/assets1/js/components/jquery-placeholder.js"></script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

    <script type="text/javascript" src="js/script.js"></script> <!-- Use in class: x-btn -->
</body>

</html>
