
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>test</title>
    <link rel="stylesheet" href="~/assets/css/style1.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/reset1.css" type="text/css" />
</head>
<body>
    <div>
        <form action="~/Guest/QuenMatKhau_Ac" method="post">
            <input type="text" name="phone" />
            <input type="submit" />

        </form>
    </div>
</body>
</html>
