
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Kết Thúc Phiên Chơi</title>

    <link rel="icon" href="~/images/icon/fav_icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets1/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/assets1/css/site.min.css">

    <link rel="stylesheet" href="~/assets1/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/assets1/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/assets1/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/assets1/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/assets1/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/assets1/vendor/flag-icon-css/flag-icon.css">

    <!-- Plugin -->
    <link rel="stylesheet" href="~/assets1/vendor/filament-tablesaw/tablesaw.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/assets1/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/assets1/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link href="~/css/preloader.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="../~/assets1/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="../~/assets1/vendor/media-match/media.match.min.js"></script>
      <script src="../~/assets1/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/assets1/vendor/modernizr/modernizr.js"></script>
    <script src="~/assets1/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="dashboard">

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        <div id="preloader">
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-center">
                <img class="navbar-brand-logo" src="~/assets1/images/logo.png" title="LG">
                <span class="navbar-brand-text"> Lucky Number</span>
            </div>
        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="hidden-xs" id="toggleFullscreen">
                        <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Toggle fullscreen</span>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" data-animation="slide-bottom"
                           aria-expanded="false" role="button">
                            @ViewBag.Name
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="~/Admin/adminProfile" role="menuitem">
                                    <span class="icon wb-user"></span> Thông tin cá nhân
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="~/Admin/Logout" role="menuitem">
                                    <span class="icon wb-power"></span> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <ul class="site-menu">
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)" data-slug="profile">
                            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                            <span class="site-menu-title">Thông Tin</span>
                            <div class="site-menu-badge">
                            </div>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="~/Admin/adminProfile">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Thông Tin Cá Nhân</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="~/Admin/DoiMatKhau" target="_blank">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Đổi Mật Khẩu</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Quản Lý -->
                    <li class="site-menu-item has-sub active open">
                        <a href="javascript:void(0)" data-slug="apps">
                            <i class="site-menu-icon wb-wrench" aria-hidden="true"></i>
                            <span class="site-menu-title">Quản Lý</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="~/Admin/QuanLyPhienChoi" data-slug="lucky_number">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Thêm Phiên Chơi</span>
                                </a>
                            </li>
                            <li class="site-menu-item active">
                                <a class="animsition-link" href="~/Admin/KetThucPhienChoi" data-slug="lucky_number">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Kết Thúc Phiên Chơi</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="~/DieuChinhGiaiThuong/DieuChinhGiaiThuong" data-slug="lucky_number">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Điều Chỉnh Giải Thưởng</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="~/Admin/ThemLuotChoiAo" data-slug="lucky_number">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Tool Thêm Số</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Quản Lý -->
                    <!-- Danh Sách Trúng Thưởng -->
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)" data-slug="list">
                            <i class="site-menu-icon wb-star" aria-hidden="true"></i>
                            <span class="site-menu-title">Danh Sách</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="~/Admin/DanhSachTrungThuong" data-slug="list">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Trúng Thưởng</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Danh Sách Trúng Thưởng -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Profile Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            <img class="error-mark animation-slide-top" src="~/assets1/images/confused.png" alt="...">
            <h2>THÔNG BÁO!!!</h2>
            <h3>BẠN CÓ CHẮC MUỐN KẾT THÚC PHIÊN CHƠI NÀY</h3>
            <h3>NHẤN ĐỒNG Ý ĐỂ KẾT THÚC PHIÊN CHƠI HIỆN TẠI</h3>
            <form action="~/Admin/KetThucPhien" id="sky-form" class="sky-form">

                <button type="submit" class="btn btn-labeled social-facebook">
                    <span class="btn-label"><i class="icon wb-thumb-up" aria-hidden="true"></i></span>ĐỒNG Ý
                </button>

            </form>
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    <script src="~/assets1/vendor/jquery/jquery.js"></script>
    <script src="~/assets1/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/assets1/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/assets1/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/assets1/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/assets1/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/assets1/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="~/assets1/vendor/switchery/switchery.min.js"></script>
    <script src="~/assets1/vendor/intro-js/intro.js"></script>
    <script src="~/assets1/vendor/screenfull/screenfull.js"></script>
    <script src="~/assets1/vendor/slidepanel/jquery-slidePanel.js"></script>

    <script src="~/assets1/vendor/filament-tablesaw/tablesaw.js"></script>

    <!-- Scripts -->
    <script src="~/assets1/js/core.js"></script>
    <script src="~/assets1/js/site.js"></script>

    <script src="~/assets1/js/sections/menu.js"></script>
    <script src="~/assets1/js/sections/menubar.js"></script>
    <script src="~/assets1/js/sections/sidebar.js"></script>

    <script src="~/assets1/js/configs/config-colors.js"></script>
    <script src="~/assets1/js/configs/config-tour.js"></script>

    <script src="~/assets1/js/components/asscrollable.js"></script>
    <script src="~/assets1/js/components/animsition.js"></script>
    <script src="~/assets1/js/components/slidepanel.js"></script>
    <script src="~/assets1/js/components/switchery.js"></script>
    <!-- <script src="js/agency.js"></script>
    <script type="text/javascript" src="js/script.js"></script> -->


    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
    <script type="text/javascript" src="~/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script> <!-- Use in class: x-btn -->
</body>

</html>